@import "_basic";
@import "_mixin";

// 登録画面＆ログイン画面
.auth-form {
  width: min(100%, 761px);
  margin: 25px auto 0;
  padding: 10px 100px 35px;
  background-color: #fff;
  &-wrap {
    padding-top: 50px;
    background-color: #f5f5f5;
    height: 100vh;
  }
  &__logo {
    width: min(100%, 211px);
    margin: 0 auto;
  }
  &__heading {
    font-size: 36px;
    text-align: center;
  }
  &__item {
    margin-bottom: 20px;
    label {
      font-size: 14px;
    }
    input {
      width: 100%;
      @include set-border(1px, solid, #909090);
      height: 33px;
      border-radius: 5px;
      font-size: 14px;
      padding-left: 0.5em;
    }
    button {
      width: 100%;
      background-color: $color-blue;
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      height: 33px;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    &.flex-col {
      row-gap: 5px;
      a {
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// 下層ページ基本スタイル
.page-wrap {
  width: min(100%, 1000px);
  padding: 45px 10px 0;
  margin: 0 auto;
  .page-heading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
}

// エラーメッセージ
.err-msg {
  font-size: 12px;
  margin-top: 3px;
  li {
    color: #ff3a31;
    font-weight: bold;
  }
}

// ヘッダー
.header {
  padding: 0 15px;
  height: 70px;
  background-color: #fefdff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  &__inner {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    img {
      width: 120px;
    }
    div {
      &.item {
        align-items: center;
        column-gap: 25px;
        div {
          &:first-child {
          }
          &:last-child {
            position: relative;
            font-size: 14px;
            button {
              background-color: transparent;
              border: none;
              display: flex;
              align-items: center;
              column-gap: 5px;
              cursor: pointer;
              div {
                &:first-child {
                  font-size: 14px;
                }
                &:last-child {
                  width: 30px;
                  @include centering;
                }
              }
            }
            div {
              &.absolute {
                position: absolute;
                @include set-border(1px, solid, #333);
                width: 100%;
                padding: 0.5em;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

// 「出品」ボタン
.listing-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: $color-blue;
  width: 70px;
  height: 70px;
  border-radius: 100vh;
  @include centering;
  flex-direction: column;
  p {
    font-size: 16px;
    color: #fff;
  }
  i {
    font-size: 16px;
    color: #fff;
  }
}

// 商品出品画面
.items-create {
  &-form {
    width: min(100%, 556px);
    margin: 50px auto 0;
    &__item {
      &:not(:first-child) {
        margin-bottom: 35px;
      }
      label {
        display: block;
        margin-bottom: 3px;
        font-size: 14px;
        &.image {
          width: min(100%, 289px);
          span {
            font-weight: bold;
            font-size: 14px;
            background-color: #c1c8ff;
            @include set-border(1px, solid, #909090);
            width: 100%;
            aspect-ratio: 289/211;
            cursor: pointer;
            @include centering;
          }
          input[type="file"] {
            display: none;
          }
        }
      }
      input[type="text"],
      input[type="submit"],
      select,
      textarea {
        width: 100%;
        font-size: 14px;
        border-radius: 10px;
      }
      input[type="text"] {
        @include set-border(1px, solid, #909090);
        height: 35px;
        padding-left: 1em;
      }
      input[type="submit"] {
        background-color: $color-blue;
        color: #fff;
        font-size: 14px;
        height: 35px;
        @include centering;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      select {
        height: 35px;
      }
      textarea {
        resize: none;
      }
    }
  }
}
